# Ignore IDE files
*.iml
/.idea/

# Ignore OS-specific files
.DS_Store

# Ignore Gradle files
/gradle/
.gradle/
/local.properties

# Ignore build artifacts
/build/
/app/build/
app/release/
/captures/
*.apk
*.aab

# Ignore native build artifacts
.externalNativeBuild
.cxx
